body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1b86ce;

}

.container {
    display: flex;
    background-color: #eff9fd;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img_cont {
    text-align: center;
    padding-top: 20px;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    color: #1da1f2;
    font-size: 28px;
    margin-bottom: 15px;
}

.signupbox {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    width: 350px; height: 520px;
    text-align: left;
    box-shadow: 0 0 10px #00000096;
    font-size: 12px;
}

input {
    display: block;
    padding: 7px;
    margin-left: 10px;
    width: 90%; 
    box-sizing: border-box;
    border-color: #accce0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:double;
    border-radius: 10px;
    
    
}

input::placeholder {
    font-size: smaller;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input:active {
    transform: scale(1.5);
}
input:hover {
    background-color: #cfd7db;

}
button {
    background-color: white;
    color: #0d8ecf;
    font-weight: 1000;
    padding: 5px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    font-size: 18px;
    width: 50%;
    box-shadow: 0 0 10px #9e9d9d56;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
button:hover {
    background-color: #cfd7db;
}
button:active {
    transform: scale(0.95);
}

.para {
  position: left;
  text-align: left;
  justify-content: left;
  margin: 5px;
  position: absolute;
}
label {
    display: inline-block;
    font-family: monospace;
    text-align: left;
}